body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: stretch; 
    align-content: center; 

    width: 100vw;
    height: 100vh;
    font-family: Lato;
}

header {
    background-color: $nav-color;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 100%;    
}

footer {
    background-color: rgba(165, 42, 42, 0.281);
}
