// -------------------------------
//     CONTACT VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*

    // *--------- COLORS ---------*

// ----------------------------
//     CONTACT STYLES
// ----------------------------

.contact-form {
    width: calc(100% - 50px);
    margin-top: 50px;
}

.contact-info {
    margin-top: 50px;
}