// ---------------------
//     BASE
// ---------------------

// *--------- LAYOUT ---------*

// *--------- COLORS ---------*
$base__border-color: #ececec;
$special__text-color: #00dd9c;
$special__background-color: #00dd9c;

$nav-color: rgb(125, 125, 126);
$nav-color-bckground: rgb(173, 173, 175);
$nav-color-border: rgb(214, 214, 219);

$gd1-color1: #12c2e9;
$gd1-color2: #f64f59;

$gd2-color1: #a8ff78;
$gd2-color2: #78ffd6;

$gd3-color1: #f12711;
$gd3-color2: #f5af19;

$card-border-radius: 20px;

$img-width: 300px;
$img-height: 450px;

$info-backgroud-color: rgba(0, 0, 0, 0.3);
$info-backgroud-hover-color: rgb(120, 120, 185);
